/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.menu-hamburguesa {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-hamburguesa__btn {
    width: 40px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-hamburguesa__btn::before,
.menu-hamburguesa__btn::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-hamburguesa__btn::before {
    transform: translateY(-16px);
}

.menu-hamburguesa__btn::after {
    transform: translateY(16px);
}

//Animación
.menu-hamburguesa.abrirMenu .menu-hamburguesa__btn {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-hamburguesa.abrirMenu .menu-hamburguesa__btn::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-hamburguesa.abrirMenu .menu-hamburguesa__btn::after {
    transform: rotate(-45deg) translate(35px, 35px);
}