<section class="container md:flex md:justify-around md:items-center">
    <div *ngFor="let receta of listaRecetas" class="w-64 my-10 mx-auto relative">
        <div class="rounded overflow-hidden relative">
            <img class="transition-transform duration-200 ease-in-out transform hover:scale-110" [src]="receta.imagen" [alt]="receta.nombre">
            <p class="absolute inline left-0 bottom-0 ml-2 mb-1 text-white bg-black bg-opacity-75 p-2 rounded">Dificultad <span>{{receta.dificultad | lowercase}}</span></p>
        </div>
        <div class="flex items-center mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"/></svg>
            <p class="inline ml-2 text-gray-700">{{receta.tiempo}}</p>
        </div>
        <h5 class="font-bold text-2xl">{{receta.nombre}}</h5>
        <app-rating-stars [(rate)]="receta.rate"></app-rating-stars>
        <span class="fa fa-heart absolute right-0 bottom-0" (click)="agregarFavoritos(receta)" [ngClass]="favoritoClass(receta)"></span>
    </div>
</section>